body {
	background: pink;
	font-family: Georgia, serif;
	font-size: 16px;
	font-weight:normal;
	font: normal;
	line-height: 1.8em;
	margin 0.5;
	{text-align: center;}
}
h1 {color: purple;
    background-color: pink;}
h2 {color: purple;}
h1 {text-align: center;}
h2 {text-align: center;}
h1{border: 1px solid purple}
h2{border: 1px solid purple}
{text-align: center;}
